body {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", monospace;
  color: #fcde93;
  background-color: #271268;
  background-image: url("/backg.svg");
  background-size: contain;

  @media (max-width: 768px) {
    background-size: cover;
  }
}
