.container {
  height: 100vh;
  display: flex;
}

.about {
  background-color: rgba(152, 104, 211, 0.773);
  height: 19.5rem;
  width: 17rem;
  padding: 1rem 0;
  border-radius: 100%;
  text-align: -webkit-center;
}

.image {
  border-radius: 45%;
}
